<div class="ui-page">
  	<div class="ui-title fixed-top">
        <h2>选择部门</h2>
        <span></span>
    </div>
    <div class="ui-content">
      	
      	<div class="ui-tool-bar">
      		<ul>
      			<li><a class="ui-btn" href="javascript:;" target="bringBack" rel="ids" data-group="dept1">选择带回</a></li>
      		</ul>
      	</div>
    
        <div class="ui-pannel">
    	  	<table class="ui-data-list">
    	  		<tr>
    				<th width="5%"><input class="all-select" type="checkbox" name="ids" /></th>
    				<th width="5%">序号</th>
    				<th width="" class="order">部门编号</th>
    				<th width="15%" class="order">部门名称</th>
    			</tr>
    			<tr>
                    <td><input name="ids" type="checkbox" value="{id:'1', name:'部门1', code:'A001'}" /></td>
    				<td>1</td>
    				<td>A001</td>
    				<td>部门1</td>
    			</tr>
    			<tr>
                    <td><input name="ids" type="checkbox" value="{id:'2', name:'部门2', code:'A002'}" /></td>
    				<td>2</td>
    				<td>A002</td>
    				<td>部门2</td>
    			</tr>
    			<tr>
                    <td><input name="ids" type="checkbox" value="{id:'3', name:'部门3', code:'A003'}" /></td>
    				<td>3</td>
    				<td>A003</td>
    				<td>部门3</td>
    			</tr>
    	  	</table>
        </div>
  	</div>
    <div class="ui-button fixed-bottom"></div>
</div>