<div class="ui-page">
  	<div class="ui-title fixed-top">
        <h2>选择部门</h2>
        <span></span>
    </div>
    <div class="ui-content">
        <div class="ui-pannel">
    	  	<table class="ui-data-list">
    	  		<tr>
    				<th width="5%">序号</th>
    				<th width="" class="order">部门编号</th>
    				<th width="15%" class="order">部门名称</th>
    				<th width="10%">操作</th>
    			</tr>
    			<tr>
    				<td>1</td>
    				<td>A001</td>
    				<td>部门1</td>
    				<td>
    					<a href="javascript:;" onclick="Dialog.bringBack('dept', {id:'1', name:'部门1', code:'A001'});">选择</a>
    				</td>
    			</tr>
    			<tr>
    				<td>2</td>
    				<td>A002</td>
    				<td>部门2</td>
    				<td>
    					<a href="javascript:;" onclick="Dialog.bringBack('dept', {id:'2', name:'部门2', code:'A002'});">选择</a>
    				</td>
    			</tr>
    			<tr>
    				<td>3</td>
    				<td>A003</td>
    				<td>部门3</td>
    				<td>
    					<a href="javascript:;" onclick="Dialog.bringBack('dept', {id:'3', name:'部门3', code:'A003'});">选择</a>
    				</td>
    			</tr>
    	  	</table>
        </div>
  	</div>
    <div class="ui-button fixed-bottom"></div>
</div>