<div class="ui-page">
    <ul>
        <li>
            <a href="javascript:;">
                <img src="../media/images/icons/icon-pencil.png" />
                <span>表单组件</span>
            </a>
            <ul>
                <li><a href="demo/form_button.html" target="navtab" rel="form_button">按钮</a></li>
                <li><a href="demo/form_radio_checkbox.html" target="navtab" rel="form_radio_checkbox">单/复选框</a></li>
                <li><a href="demo/form_switch.html" target="navtab" rel="form_switch">switch开关</a></li>
                <li><a href="demo/form_select.html" target="navtab" rel="form_select">下拉选框</a></li>
                <li><a href="demo/form_text.html" target="navtab" rel="form_text">文本框/域</a></li>
                <li><a href="demo/form_file.html" target="navtab" rel="form_file">文件上传</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:;">
                <img src="../media/images/icons/icon-egg.png" />
                <span>其他组件</span>
            </a>
            <ul>
                <li><a href="demo/other_table_form.html" target="navtab" rel="other_table_form">table表单</a></li>
                <li><a href="demo/other_dl_form.html" target="navtab" rel="other_dl_form">dl表单</a></li>
                <li><a href="demo/page_inner.html" target="navtab" rel="page_inner">二级页面</a></li>
                <li><a href="demo/other_tab_dynamic.html" target="navtab" rel="other_tab_dynamic">tab选项卡（动态）</a></li>
                <li><a href="demo/other_tab_static.html" target="navtab" rel="other_tab_static">tab选项卡（静态）</a></li>
                <li><a href="demo/other_dialog.html" target="navtab" rel="other_dialog">layer弹出层</a></li>
                <li><a href="demo/other_wdate.html" target="navtab" rel="other_wdate">my97日期控件</a></li>
                <li><a href="demo/other_kindeditor.html" target="navtab" rel="other_kindeditor">KindEditor编辑器</a></li>
                <li><a href="demo/other_ueditor.html" target="navtab" rel="other_ueditor">UEditor编辑器</a></li>
                <li><a href="demo/other_lookup.html" target="navtab" rel="other_lookup">lookup查找带回</a></li>
                <li><a href="demo/other_ztree.html" target="navtab" rel="other_ztree">zTree树形菜单</a></li>
                <li><a href="demo/other_treetable.html" target="navtab" rel="other_treetable">treetable树形表格</a></li>
                <li><a href="demo/other_autocomplete.html" target="navtab" rel="other_autocomplete">文本自动提示</a></li>
                <li><a href="http://www.baidu.com" target="navtab" rel="main">百度</a></li>
                <li><a href="javascript:;">未读消息</a><i>121</i></li>
            </ul>
        </li>
        <li>
            <a href="javascript:;">
                <img src="../media/images/icons/icon-menu.png" />
                <span>简单模块示例</span>
            </a>
            <ul>
                <li><a href="demo/user_list.html" target="navtab" rel="user_list">用户管理</a></li>
            </ul>
        </li>
    </ul>
</div>