<div class="ui-page">
    <div class="ui-title fixed-top">
        <h2>按钮</h2>
        <span>按钮包括type="button/submit/reset"的input标签和class="ui-btn"的a标签</span>
    </div>
    <div class="ui-content">
        <div class="ui-pannel">
            <div class="ui-divider">input按钮</div>
            <input type="button" value="按钮" />
            <input type="button" class="active" value="active按钮" />
            <input type="button" disabled="disabled" value="disable按钮" />
            
            <input class="ui-check" type="radio" name="gender" id="gender_female_1" value="2" checked="checked" />
            <label for="gender_female_1">女1</label>
            <input class="ui-check" type="radio" name="gender" id="gender_male_1" value="3" />
            <label for="gender_male_1">男1</label>
            
            <input class="ui-check" type="checkbox" name="interest" id="interest_swim_1" value="1" />
            <label for="interest_swim_1">游泳</label>
            <input class="ui-check" type="checkbox" name="interest" id="interest_soccer_1" value="2" />
            <label for="interest_soccer_1">踢足球</label>
        </div>
        <div class="ui-pannel">
            <div class="ui-divider">a按钮</div>
            <a href="javascript:;" class="ui-btn">按钮</a>
            <a href="javascript:;" class="ui-btn active">active按钮</a>
            <a href="javascript:;" class="ui-btn disabled">disable按钮</a>
        </div>
    </div>
</div>
