<div class="ui-page">
    <div class="ui-title fixed-top">
        <h2>文本框/域</h2>
        <span>文本框input和文本域textarea一般应在class="ui-data-form"的div中使用</span>
    </div>
    <div class="ui-content">
        <div class="ui-pannel">
            <div class="ui-divider">文本框（单行）</div>
            <p>
                <span>普通输入框：</span>
                <input type="text" name="t1" />
            </p>
            <p>
                <span>含提示信息：</span>
                <input type="text" name="t2" placeholder="提示文字" />
                <span class="tips">placeholder="提示文字"</span>
            </p>
            <p>
                <span>错误：</span>
                <input type="text" name="t3" class="error" />
                <span class="tips">class="error"</span>
            </p>
            <p>
                <span>只读：</span>
                <input type="text" name="t4" readonly="readonly" />
                <span class="tips">readonly="readonly"</span>
            </p>
            <p>
                <span>禁用：</span>
                <input type="text" name="t5" disabled="disabled" />
                <span class="tips">disabled="disabled"</span>
            </p>
            <p>
                <span>密码：</span>
                <input type="password" name="t6" placeholder="输入密码" />
                <span class="tips">type="password"</span>
            </p>
        </div>
        <div class="ui-pannel">
            <div class="ui-divider">文本域（多行）</div>
            <p>
                <span>普通文本域：</span>
                <textarea name="t7"></textarea>
            </p>
            <p>
                <span>含提示信息：</span>
                <textarea name="t8" placeholder="提示文字"></textarea>
                <span class="tips">placeholder="提示文字"</span>
            </p>
            <p>
                <span>错误：</span>
                <textarea name="t9" class="error"></textarea>
                <span class="tips">class="error"</span>
            </p>
            <p>
                <span>只读：</span>
                <textarea name="t10" readonly="readonly"></textarea>
                <span class="tips">readonly="readonly"</span>
            </p>
            <p>
                <span>禁用：</span>
                <textarea name="t11" disabled="disabled"></textarea>
                <span class="tips">disabled="disabled"</span>
            </p>
        </div>
    </div>
</div>
