<div class="ui-page">
    <div class="ui-title fixed-top">
        <h2>单/复选框</h2>
        <span>需要以下样式，请在input标签加上class="ui-check"</span>
    </div>
    <div class="ui-content">
        <div class="ui-pannel">
            <div class="ui-divider">单选框radio</div>
            <!-- 注意，单选框建议要有默认checked="checked"的radio -->
            <input class="ui-check" type="radio" name="gender" id="gender_female" value="0" checked="checked" />
            <label for="gender_female">女</label>
            <input class="ui-check" type="radio" name="gender" id="gender_male" value="1" />
            <label for="gender_male">男</label>
        </div>
        <div class="ui-pannel">
            <div class="ui-divider">复选框checkbox</div>
            <input class="ui-check" type="checkbox" name="interest" id="interest_swim" value="1" />
            <label for="interest_swim">游泳</label>
            <input class="ui-check" type="checkbox" name="interest" id="interest_soccer" value="2" />
            <label for="interest_soccer">踢足球</label>
            <input class="ui-check" type="checkbox" name="interest" id="interest_sing" value="3" />
            <label for="interest_sing">唱歌</label>
            <input class="ui-check" type="checkbox" name="interest" id="interest_read" value="4" />
            <label for="interest_read">读书</label>
            <input class="ui-check" type="checkbox" name="interest" id="interest_film" value="5" />
            <label for="interest_film">看看电影</label>
        </div>
    </div>
</div>
