<div class="ui-page">
    <div class="ui-title fixed-top">
        <h2>详情</h2>
        <span>用户</span>
    </div>
    <div class="ui-content">
        <div class="ui-pannel">
            <div class="ui-data-form">
                <div class="ui-divider">详情</div>
                <p class="tips">普通字符串类型字段</p>
                <dl>
                    <dt>账号</dt>
                    <dd>用户1</dd>
                </dl>
                <dl>
                    <dt>密码</dt>
                    <dd>x******3</dd>
                </dl>
                <dl>
                    <dt>手机</dt>
                    <dd>13111111111</dd>
                </dl>
                <dl>
                    <dt>姓名</dt>
                    <dd>姓名1</dd>
                </dl>
                <dl>
                    <dt>E-mail</dt>
                    <dd>user1@sina.com</dd>
                </dl>
                <p class="tips">特殊类型字段</p>
                <dl>
                	<dt>出生日期</dt>
                	<dd>1989-11-07</dd>
                </dl>
                <dl>
                    <dt>性别</dt>
                    <dd>男</dd>
                </dl>
                <dl>
                    <dt>政治面貌</dt>
                    <dd>共产党员</dd>
                </dl>
                <dl>
                    <dt>兴趣</dt>
                    <dd>
                        <span style="margin-right: 1em;">足球</span>
                        <span style="margin-right: 1em;">唱歌</span>
                        <span style="margin-right: 1em;">阅读</span>
                    </dd>
                </dl>
                <dl>
                    <dt>备注</dt>
                    <dd>一枚自诩文艺不羁的程序员~</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="ui-button fixed-bottom">
        <a class="ui-btn" href="demo/user_edit.html?id=1"target="navtab" rel="user_edit">编辑</a>
        <a class="ui-btn" href="demo/user_list.html" title="用户列表">返回</a>
    </div>
</div>
